PassengerAppRoot "/home2/raijinte/suitpoint"
PassengerBaseURI "/"
PassengerPython "/home2/raijinte/virtualenv/suitpoint/3.8/bin/python3.8"
RewriteEngine On
RewriteCond %{env:HTTPS} !on
RewriteRule ^(.*)$ https://www.suitpoint.raijintechnepal.com/$1 [R,L]