PassengerAppRoot "/home2/raijinte/gstraders"
PassengerBaseURI "/"
PassengerPython "/home2/raijinte/virtualenv/gstraders/3.8/bin/python3.8"
RewriteEngine On
RewriteCond %{env:HTTPS} !on
RewriteRule ^(.*)$ https://www.gstraders.com.np/$1 [R,L]