{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ heading }}{% endblock %}

{% block style %}
    <link href="{% static 'assets/plugins/datetimepicker/css/classic.css' %}" rel="stylesheet" />
	<!-- <link href="{% static 'assets/plugins/datetimepicker/css/classic.time.css' %}" rel="stylesheet" /> -->
    <link href="{% static 'assets/plugins/datetimepicker/css/classic.date.css' %}" rel="stylesheet" />

    <style>
        .pByfF {
            border-radius: 8px;
            overflow: hidden;
            height: auto;
            margin: auto;
            margin-left: 7px;
            padding: 0;
            padding-left: 6px;
            background: #e3e7eb;
        }
        .pByfF i {
            color: #000;
            font-size: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper">		
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="card border-lg-top-danger">
								<div class="card-body p-5">
                                    {% include 'dashboard/success_message.html' %}<br>
									<div class="d-flex justify-content-between">
                                        <div class="card-title">
                                            <h3 class="text-danger">{{ heading }}</h3>
                                        </div>

                                        <div>
                                            {% include 'dashboard/base-data-view.html' %}
                                                <a class="button" href="{% url 'products:list' %}">
                                                    <button class="btn btn-primary">View-Data</button>
                                                </a>
                                        </div>
									</div>
                                    <hr/>

                                    <form method="POST" enctype="multipart/form-data" id="createForm">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="form-row">
                                                {% for field in form %}
                                                <div class="form-group col-md-5 ml-4">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {% render_field field class="form-control" %}
                                                    {{ field.errors }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                                <button type="submit" class="btn btn-danger ml-4">Submit</button>
                                        </div>
                                    </form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}

