{% extends 'base-user.html' %}
{% load static %}
{% block content %}
<div class="col-lg-6">
    <div class="card-body p-md-5">
        <div class="text-center">
            <img src="{% static 'dashboard/images/gslogo.jpg' %}" width="180px" height="180px" alt="">
            <h3 class="mt-4 font-weight-bold">GS Traders Admin</h3>
        </div>
        <hr>
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label class="font-weight-bold">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
            {% if error %}
                <li class="error-message ml-0" style="font-size:16px;color: red;"><b>{{error}}</b></li>
            {% endif %}
            
            <div class="btn-group mt-3 w-100">
                <button type="submit" class="btn btn-primary btn-block">Next</button>
                <button type="button" class="btn btn-primary"><i class="lni lni-arrow-right"></i>
                </button>
            </div>
        </form>
        <hr>
        {% comment %}
        <div class="text-center">
            <p class="mb-0">Don't have an account? <a href="{% url 'userapp:signup' %}">Sign up</a>
            </p>
        </div>
        {% endcomment %}
    </div>
</div>
<div class="col-lg-6">
    <img src="{% static 'dashboard/images/gsimage.jpg' %}" class="card-img login-img h-100" alt="...">
</div>

{% endblock %}