{% load static %}

<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
        </div>
        <div>
            <h7>Gwashi Samaiji Traders</h7>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'dashboard-home' %}" >
                <div class="parent-icon icon-color-1"><i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li class="menu-label">Forms & Tables</li>
            <!-- <li>
                <a href="#">
                    <div class="parent-icon icon-color-12">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="menu-title">Customer Details</div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="parent-icon icon-color-12">
                        <i class="bx bx-buildings"></i>
                    </div>
                    <div class="menu-title">Company Details</div>
                </a>
            </li> -->
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon icon-color-12">
                        <i class="bx bx-transfer"></i>
                    </div>
                    <div class="menu-title">Category</div>
                </a>
                <ul>
                    <li> <a href="{% url 'products:category-list' %}">
                        <i class="bx bx-right-arrow-alt"></i>View Category</a>
                    </li>
                    <li> <a href="{% url 'products:category-create' %}">
                        <i class="bx bx-right-arrow-alt"></i>Create Category</a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon icon-color-12">
                        <i class="bx bx-transfer"></i>
                    </div>
                    <div class="menu-title">Products</div>
                </a>
                <ul>
                    <li> <a href="{% url 'products:list' %}">
                        <i class="bx bx-right-arrow-alt"></i>View Products</a>
                    </li>
                    <li> <a href="{% url 'products:create' %}">
                        <i class="bx bx-right-arrow-alt"></i>Create Products</a>
                    </li>
                </ul>
            </li>
            
        </li>
    </ul>

</div>